[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
mysqlclient = "*"
djangorestframework = "*"
drf-nested-routers = "*"
django-filter = "*"
packages = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
boto3 = "*"
django-storages = "*"
channels = "*"
pillow = "*"
ghasedakpack = "*"
whitenoise = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
